div.app {
  div.filter {
    display: inline-block;
  }

  &.showAll {
    div.filter {
      &.showAll a {
        display: none;
      }

      &:not(.showAll) span {
        display: none;
      }
    }
  }

  &.showActive {
    div.filter {
      &.showActive a {
        display: none;
      }

      &:not(.showActive) span {
        display: none;
      }
    }

    li.completed {
      display: none;
    }
  }

  &.showCompleted {
    div.filter {
      &.showCompleted a {
        display: none;
      }

      &:not(.showCompleted) span {
        display: none;
      }
    }

    li:not(.completed) {
      display: none;
    }
  }

  li.completed {
    text-decoration: line-through;
  }
}
