div.app {
  div.filter {
    display: inline-block;
  }

  &.show-all {
    div.filter {
      &.show-all a {
        display: none;
      }

      &:not(.show-all) span {
        display: none;
      }
    }
  }

  &.show-active {
    div.filter {
      &.show-active a {
        display: none;
      }

      &:not(.show-active) span {
        display: none;
      }
    }

    li.completed {
      display: none;
    }
  }

  &.show-completed {
    div.filter {
      &.show-completed a {
        display: none;
      }

      &:not(.show-completed) span {
        display: none;
      }
    }

    li:not(.completed) {
      display: none;
    }
  }

  li.completed {
    text-decoration: line-through;
  }
}
